<div class="container">

  <div class="jumbotron">
    <div id="header">
      <h1 class="text-center">Burgerlicious!</h1>
      <h5 class="text-center">Eat all of the burgers!</h5>
    </div>
  </div>

  <h3><i class="fas fa-hamburger"></i>Menu</h3>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Classics</th>
            <th scope="col">#</th>
            <th scope="col">Fan Favs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Cheeseburger</td>
            <td>6</td>
            <td>Veggie Burger</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Double Cheeseburger</td>
            <td>7</td>
            <td>Black Bean Burger</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Hamburger</td>
            <td>8</td>
            <td>Cheeseburger with Fried Egg</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Bacon Cheeseburger</td>
            <td>9</td>
            <td>BBQ Burger with Onion Rings</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Mushroom Swiss Burger</td>
            <td>10</td>
            <td>Hawaiian Burger with Pineapple</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>

  <h3>Place an order</h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="create-form">
        <div class="form-group">
          <input type="text" id="newburger" name="burger" class="form-control" placeholder="Enter burger name">
        </div>
        <div class="form-group">
          <button id="add-burger" type="submit" class="btn btn-dark btn-sm"><i class="fas fa-plus"></i>Add
            Burger</button>
        </div>
    </div>
    </form>
  </div>
</div>
<br>
<br>
<hr>

<div class="row">
  <div class="col-sm-5 offset-sm-1" id="burger-ready">
    <div class="card text-white bg-success mb-5">
      <div class="card-header">
        <h3>Ready Burgers</h3>
      </div>
      <div class="card-body bg-light">
        <ul class="card-text text-dark">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devour=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-5" id="burger-eaten">
    <div class="card text-white bg-dark mb-5">
      <div class="card-header">
        <h3>Devoured Burgers</h3>
      </div>
      <div class="card-body bg-light">
        <ul class="card-text text-dark">
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devour=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>